

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-content {
	background-color: white;
}

.jumbotron {
	margin-bottom: 0px;
}


body {
	/* background: url(../img/bkgs/highres_textures/8-Colorful-Paint-Textures-01.jpg) repeat 0 0; */
	background: url(../img/bkgs/subtle_patterns/black_thread.png) repeat 0 0 ;
}

/* Glyph Icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-zcd1v2');
	src:url('../fonts/icomoon.eot?#iefix-zcd1v2') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-zcd1v2') format('woff'),
		url('../fonts/icomoon.ttf?-zcd1v2') format('truetype'),
		url('../fonts/icomoon.svg?-zcd1v2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bubbles:before {
	content: "\e600";
}

.icon-bubbles2:before {
	content: "\e601";
}

.icon-embed:before {
	content: "\e602";
}

.icon-code:before {
	content: "\e603";
}

.icon-console:before {
	content: "\e604";
}

.icon-bubble:before {
	content: "\e605";
}

/* Google Maps */
#map-canvas {
	width: 100%;
	height: 400px;
}

/* Back to top */















