
@import url("//fonts.googleapis.com/css?family=Roboto:400,700");

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-content {
	background-color: white;
}

.jumbotron {
	margin-bottom: 0px;
	background-image: radial-gradient(#355CA1,#1D3157); 
	color: white;
}

body {
	/* background: url(../img/bkgs/highres_textures/8-Colorful-Paint-Textures-01.jpg) repeat 0 0; */
	background: url(../img/bkgs/subtle_patterns/black_thread.png) repeat 0 0 ;
}

.centered {
	text-align: center;
}

h1, h2, h3, h4 {
	text-align: center;
}

.btn-toolbar {
	padding-top: 20px;
}

/*=======================================================================*/
/* Glyph Icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-hpph3a');
	src:url('../fonts/icomoon.eot?#iefix-hpph3a') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-hpph3a') format('woff'),
		url('../fonts/icomoon.ttf?-hpph3a') format('truetype'),
		url('../fonts/icomoon.svg?-hpph3a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-console:before {
	content: "\e606";
}

.icon-bubbles:before {
	content: "\e600";
}

.icon-bubbles2:before {
	content: "\e601";
}

.icon-users:before {
	content: "\e607";
}

.icon-users2:before {
	content: "\e608";
}

.icon-accessibility:before {
	content: "\e609";
}

.icon-embed:before {
	content: "\e602";
}

.icon-code:before {
	content: "\e603";
}

.icon-console2:before {
	content: "\e604";
}

.icon-bubble:before {
	content: "\e605";
}



/*=======================================================================*/

/* Google Maps */
#map-canvas {
	width: 100%%;
	height: 300px;
}










